<label
  for="password"
  class="block mb-2 text-sm font-medium transition-all duration-300 text-gray-900 dark:text-gray-100"
  >{{ label }}</label
>
<div class="flex items-center relative">
  <input
    id="password"
    name="password"
    type="{{ visible ? 'text' : 'password' }}"
    [placeholder]="placeholder"
    [(ngModel)]="password"
    (input)="onChangePassword()"
    class="pr-8 bg-gray-50 border border-gray-300 dark:bg-gray-800 dark:border-gray-900 transition-all duration-300 text-gray-900 dark:text-gray-100 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
  />
  <button
    type="button"
    class="absolute right-2 top-2 text-gray-400 dark:text-gray-600"
    aria-label="Toggle password visibility"
    (click)="togglePasswordVisibility()"
  >
    <span class="material-icons">{{
      visible ? "visibility" : "visibility_off"
    }}</span>
  </button>
</div>
