<div
  class="transition-all duration-300 p-4 md:p-8 flex flex-col justify-center items-center min-h-screen dark:text-gray-50 bg-white dark:bg-black w-full overflow-x-hidden"
>
  <h1 class="text-3xl sm:text-5xl font-black tracking-wide">404</h1>

  <p class="text-xl text-center sm:text-2xl font-medium tracking-wide">
    Page not found
  </p>

  <p class="text-lg sm:text-xl text-center font-medium tracking-wide">
    Sorry, we couldn&apos;t find the page you&apos;re looking for.
  </p>

  <a href="/" class="mt-8 px-4 py-2 bg-brand-blue dark:bg-indigo-700 text-white rounded-md">
    Go back home
  </a>
</div>
