<div class="pt-12 px-8 text-white">
  <h1 class="font-bold text-2xl text-center">
    A Git- Inspired Assignment submission system
  </h1>
  <h4 class="mx-auto mt-4 text-sm">
    ASS-R (Assignment Submission System-R) is a state-of-the-art web application
    designed to streamline the assignment submission and evaluation process for
    both students and teachers.
  </h4>
</div>

<img
  class="w-full max-w-full pointer-events-none py-2"
  width="400"
  height="400"
  src={{image}}
  alt="git"
/>
